<div class='flex-container2'>

<p class='catchphrase1'>Ensemble, tout devient possible !</p><br>
<p class='catchphrase1'> Nous sommes motivés par les résultats de notre impact social. </p>
 <button class="contactbutton">Nous contacter</button>

</div>

<p class='titletext'> A propos de FarmInvest </p><br>

<div class="texteabout">

<p> Farminvest a développé une plateforme innovante permettant à nimporte
qui d'investir en quelques clics dans du bétail Français en achetant,
possédant et vendant des vaches en ligne.<p>
<p class='histoire'> Notre Histoire </p>
<p>FarmInvest a été créé par Christian Lim, qui a passé la majorité de son enfance à travailler
dans la ferme de ses parents en Seine et Marne. En 2011, il se décide à poursuivre des études peu fructueuses dans le commerce. </p>

<p>Au cours de nombreux voyages dans quelques pays du tiers monde Asiatique et Sud-Américains, il fut surpris de l'engouement
que pouvaient dégager les éleveurs pour leur activité mais malheureusement limités financièrement pour lancer
et maintenir leur activité. Après un retour en France, il pris conscience après quelques contacts avec des éleveurs locaux
que ces derniers vivaient des difficultés similaires et se décida d'agir !<p/>

<p>A l'aide d'un ancien camarade de classe désabusé par sa dégradation capillaire et d'un jeune technophile fan de Tacos, Smaïn et Rachid,
ils fondent FarmInvest en Novembre 2017.</p>

<p>Christian s'est donné pour mission d'aider les éleveurs de vache partout en France en leur
ouvrant de nombreuses opportunités de marché pour leurs bétails et de favoriser la création de
nouveaux emplois dans un secteur en déclin depuis de nombreuses décennies en France. </p>

</div>

<%= stylesheet_link_tag 'about' %>
