<div class='flex-container2'>

<p class='catchphrase1'>Ensemble, tout devient possible !</p><br>
<p class='catchphrase1'> Nous sommes motivés par les résultats de notre impact social. </p>
<br>

 <form method="GET" action="/contacts/new">
     <button class="btn btn-info btn-block" style="width: 50%; margin: auto;"><h1><i class="fa fa-envelope-o" aria-hidden="true"></i> Nous contacter <i class="fa fa-envelope-o" aria-hidden="true"></i></h1></button>

     </form>

</div>

<p class='titletext'> A propos de FarmInvest </p><br>

<div class="texteabout">

<p> Farminvest a développé une plateforme innovante permettant à nimporte
qui d'investir en quelques clics dans du bétail Français en achetant,
possédant et vendant des vaches en ligne.<p>
<p class='histoire'> Notre Histoire </p>
<p>FarmInvest a été créé par Christian Lim, aujourd'hui entrepreneur d'expérience dans le domaine agricole. En 2011, il se décide à poursuivre des études dans le commerce puis se lança dans quelques projets humanitaires à travers le monde. </p>

<p>Au cours de nombreux voyages dans quelques pays du tiers monde Asiatique et Sud-Américain, il est affecté par la passion
des éleveurs pour leur activité, qui étaient malheureusement limités financièrement pour lancer
et faire perdurer leur activité. Après un retour en France, ses échanges avec des éleveurs locaux lui ont fait comprendre
que ces derniers vivaient des difficultés similaires et décida d'agir !<p/>

<p>A l'aide d'un ancien camarade de promotion et d'un jeune développeur en herbe , Smaïn et Rachid,
il fonde FarmInvest en Novembre 2017.</p>

<p>Christian s'est donné pour mission d'aider les éleveurs de vaches partout en France en leur
ouvrant de nombreuses opportunités de marché pour leurs bétails et de favoriser la création de
nouveaux emplois dans un secteur en déclin depuis de quelques décennies en France. </p>

</div>

<%= stylesheet_link_tag 'about' %>
