<div class="container">
  <div class="jumbotron">
<section id='section1'>
  <div class='plateforme_description'>
<h1 class='plateforme'>Plateforme d'investissement de bétail en ligne</h1>
<h2 class='description'>Achetez, possédez et échangez des animaux depuis votre ordinateur et <br/>
  soutenez les fermiers français.</h2>
  <button class="button">Investir</button>
</div>
<%= image_tag "vache_home.jpg", :class => "vache" %>

</section>
</div>

<div class='pourquoifi'>Pourquoi utiliser FarmInvest 🤔 ?</div>
<section id='section2'>
  <div class='bloc'>
    <%= image_tag "vache_probleme.jpg", :class => "vache1" %>
 <p class='bloc_titre'>Le problème</p>
 <p class='bloc_paragraphe'>Les éleveurs Français ont du mal à augmenter rapidement la taille de leur exploitation à moindre coût. </p>
  </div>
  <div class='bloc'>
    <%= image_tag "vache_solution.jpg", :class => "vache1" %>
 <p class='bloc_titre'>La solution</p>
 <p class='bloc_paragraphe'>L'argent obtenu grâce aux investisseurs va permettre aux éleveurs d'investir dans du nouveaux matériel où acheter du bétail.</p>
  </div>
  <div class='bloc'>
    <%= image_tag "startup.jpg", :class => "vache1" %>
 <p class='bloc_titre'>Qui sommes nous ?</p>
 <p class='bloc_paragraphe'>FarmInvest a été fondé par des entrepreneurs désireux d'aider les éleveurs Français dans leur croissance.</p>
  </div>
</section>
<div class='pourquoifi'>Comment ça marche ?</div>
<section id='section3'>
<div class='bloc2'>
  <td class='icon'><i class="fa fa-money fa-5x" aria-hidden="true"></i></td>
  <p class='bloc_titre'>1. Nous achetons</p>
  <p class='bloc_paragraphe'>Notre équipe achète les vaches directement auprès des éleveurs afin de vous garantir le meilleurs prix.</p>
</div>
<div class='bloc2'>
  <td class='icon'><i class="fa fa-cutlery fa-5x" aria-hidden="true"></i></td>
  <p class='bloc_titre'>2. Nous entretenons</p>
  <p class='bloc_paragraphe'>L'éleveur fournit le travail, les bâtiments, le matériel et les sols. Il nourrit les vaches et les assurent.</p>
</div>
<div class='bloc2'>
  <td class='icon'><i class="fa fa-line-chart fa-5x" aria-hidden="true"></i></td>
  <p class='bloc_titre'>3. Nous vendons</p>
  <p class='bloc_paragraphe'>Le propriétaire perçoit chaque année environ 8 à 10% de son cheptel "en nature". Vous pouvez choisir de réinvestir ou de partir avec votre argent.</p>
</div>
</section>
<div class='pourquoifi'>Quelques chiffres</div>
<section id='section4'>
  <div class='bloc3'>
    <div id="shiva"><span class="count">10%</span></div>
    <p class='bloc_paragraphe3'>R.O.I</p>
  </div>
  <div class='bloc3'>
    <div id="shiva"><span class="count">1500+</span></div>
    <p class='bloc_paragraphe3'>Animaux vendus</p>
  </div>
  <div class='bloc3'>
    <div id="shiva"><span class="count">500+</span></div>
    <p class='bloc_paragraphe3'>Personnes impactés</p>
  </div>
</section>
</div>
