<div class= 'flex-container'>

<div class= 'title-description'>
<p class='title'> Investissez dès maintenant dans du bétail ! </p>

<div class="investargument">

<p> La vache, c'est l'animal tendance du moment ! </p>

 <p> Donnez un coup de pouce à nos éleveurs de talent tout en bénéficiant d'avantages non négligeables : </p>
<ul>
  <li> Un revenu sur investissement situé en moyenne entre 15 et 40% </li>
  <li> Votre vache est remplacée en cas de décès accidentel ou d'infertilité </li>
  <li> Votre troupeau est entretenu et soigné par les bergers locaux </li>
  <li> Vous supportez une cause humanitaire et contribuez à l'économie locale. </li>
</ul>

</div>

 <button class="investbutton">A partir de 1500€</button>
</div>

<%= image_tag "vachesk.jpg", :class => "vachesk" %>


</div>

<p class= 'simulation'> Simulez un placement fictif pour plus de visibilité ! </p>

<div class = 'form Open-Sans-Font'>
  <form action="simulation_investment">

  <p class="cost">Nombre de vache(s):</p>

  <input class="Open-Sans-Font" type="number" id= "cowsnumber" min="1" max="999" >


  <p class="cost">Coût estimé du bétail:</p>
   <input type="numbers" id="cost">
  <p class="cost">Revenu estimé :</p>
  <input type='numbers' id="income">

    <p class="cost">Profit estimé :</p>
    <input type='numbers' id="profit">

    <p class="cost">Profit net après commission :</p>
    <input type='numbers' id="netprofit">
  </form>
</div>

<p class= "faq Open-Sans-Font"> Vous avez des questions ? Nous sommes là pour y répondre ! Essayer d'abord notre <a href="https://fr.wikipedia.org/wiki/Foire_aux_questions">FAQ</a>
pour gagner du temps ! </p>

<%= javascript_include_tag('participate.js') %>
