<div class="skinny_wrapper wrapper_padding">
  <h1 class="reponse1" style="text-align: center; font-family: 'Open Sans', sans-serif, Arial; font-size: 25px;">Merci pour votre message!</h1>
  <p class="reponse2" style="text-align: center; font-family: 'Open Sans', sans-serif, Arial; font-size: 25px;">Je reviens vers vous dès que possible.</p>
<%= image_tag "vache_contacts.png", :class => "vache5" %>
</div>

<%= stylesheet_link_tag "contacts" %>
