.flex-container2 {
display: flex;
background-color: red;
font-family: Poppins;
color: white;
font-size: 15px;
flex-direction: column;
justify-content: center;
height: 400px;
}

.contactbutton{

width: 20%;
height: 20%;
border-radius: 10px;
padding: 5px;
margin:0 auto;
margin-top: 50px;
font-size: 25px;
background-color: #e7e7e7;
}

.catchphrase1 {
text-align: center;
font-size: 30px;
top: 10%;
font-family: 'poppins', sans-serif, Arial;
}

.contactbutton:hover {
background-color: white;
}

.titletext {
text-align: center;
padding-top: 25px;
font-size: 40px;
margin:0 auto;
font-family: poppins; Arial; sans-serif;
}

.texteabout {
  font-family: 'Open Sans', sans-serif, Arial;
  width: 85%;
  text-align: justify;
  margin: auto;
}

.histoire {
  text-transform: uppercase;
}
