.flex-container777{
background-color: #53DF83;
font-family: Poppins; Arial;
display: flex;
height: 120px;
color: white;
}

.textheader {
text align: center;
margin: auto;
font-size: 20px;
}


.amount {
color: rgb(33, 37, 41);
position: absolute;
bottom:50px;
right:47%;
}

.stripe-button-el {
position:absolute;
width:200px;
bottom:100px;
right:45%;
}

.cartevaches {
width: 350px;
position: absolute;
right: 0px;
bottom: 90px;
}

.text-center {
position:absolute;
bottom:0;
margin-left: 32%;
color: rgb(33, 37, 41);
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
font-size: 16px;
display: inline;
}

.square {
position: flex;
background-color: rgb(170, 255, 189);
box-sizing: border-box;
border: 4px;
width: 350px;
height: 350px;
margin-top: 1%;
margin-left: 35%;
font-family: Poppins; Arial;
border-radius: 4px;
}

.waranties {
text-align: center;
font-weight: bold;
}

.fa fa-check-square-o{
border-bottom: 1px solid;
text-align: center;
}

.li2 {
margin-right: auto;
margin-left: auto;
width: 80%;
}
