<div class="skinny_wrapper wrapper_padding">
  <h1 class="reponse1" style="text-align: center; font-family: 'Open Sans', sans-serif, Arial; font-size: 25px;">FarmInvest vous remercie pour votre confiance !</h1>
  
<%= image_tag "vache_contacts.png", :class => "vache5" %>
</div>

<%= stylesheet_link_tag "contacts" %>
