
<div class="flex-container777">

<p class="textheader"> Soutenez nos éleveurs tout en bénéficiant de gains importants !</p>
</div>


<div class="square">
<p class="waranties"> Nos garanties : </p>
  <div class="li2">
  <p class="fa fa-check-square-o" aria-hidden="true"> Un paiement sécurisé </p>
  <br>
  <br>
  <p class="fa fa-check-square-o" aria-hidden="true"> Des vaches élevées en pleine nature et traitées avec soin </p>
  <br>
  <br>
  <p class="fa fa-check-square-o" aria-hidden="true"> Remplacement assuré en cas de décès naturel ou d'infertilité </p>
  <br>
  <br>
  <p class="fa fa-check-square-o" aria-hidden="true"> ...et plus d'informations si besoin ! </p>
  <br>
  <br>
</div>
</div>


<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Montant: 1500.00€</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="150000"
          data-bitcoin=true
          data-currency=EUR
          data-label="Paiement"
          data-locale="auto"></script>

<% end %>

<%= stylesheet_link_tag 'new' %>
